<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
    <style>
      body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(4, 53, 70);
    
  }
  h1 {
    color: rgb(255, 255, 255);
    
  }
  p {
    color: rgb(255, 255, 255);
  }
  a {
    color: aliceblue;
  }
  .btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
    </style>>
  </head>
  <body>
    <h1><center>Hangman</center></h1>
      <p>this little game is given to you by yapi theau and ismaili yanisse 0w0</p>
      <p>this game will make you happy like that :</p>
      <p></p>
      <a href="game" class="btn">START THE GAME</a>
  </body>
</html>
